

@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

html {
  font-size: 10px;
}

body {
  // overflow: hidden !important;
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;
  background-color: #f4f4f4;
}

* {
  user-select: none;
}